@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots {
    bottom: 20px;
    left: 500px; 
    color: white;
    text-decoration: none;
}

.slick-dots li {
    text-decoration: none;
    margin: 0; 
    position: relative; 
    display: inline-block; 
}

.slick-dots li:before {
    content: '';
    display: inline-block;
    width: 5px; 
}

.slick-dots li button {
    width: 6px;
    height: 6px; 
    border-radius: 50%; 
    background-color: rgba(238, 238, 238, 0.5); 
    transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
    text-decoration: none;
    border: none; 
    padding: 0;
}

.slick-dots li.slick-active button {
    width: 13px; 
    height: 6px;
    border-radius: 5px; 
    background-color: #f5e3e3;
    text-decoration: none;
}

.slick-dots li.slick-active:before {
    width: 15px;
}

.slick-dots li.slick-active button:before {
    display: none;
}

.slick-dots li button:before {
    display: none;
}
